body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 430px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  color: #d6a354;
}

p {
  color: #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 16px;
  margin: 15px 0;
  background: #d6a354;
  color: #111;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}

.btn-secundario {
  background: #fff;
  color: #111;
}

input {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  box-sizing: border-box;
}

#reader {
  width: 100%;
  margin: 20px 0;
  border-radius: 12px;
  overflow: hidden;
}

.item {
  background: #222;
  padding: 14px;
  margin: 10px 0;
  border-radius: 8px;
  text-align: left;
}

.voltar {
  display: block;
  color: #d6a354;
  margin-top: 25px;
  text-decoration: none;
}

#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-box {
  background: #fff;
  color: #111;
  padding: 25px;
  border-radius: 12px;
  width: 85%;
  max-width: 320px;
  text-align: center;
}
