body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 430px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  color: #d6a354;
}

p {
  color: #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 16px;
  margin: 15px 0;
  background: #d6a354;
  color: #111;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}

.btn-secundario {
  background: #fff;
  color: #111;
}

input {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  box-sizing: border-box;
}

#reader {
  width: 100%;
  margin: 20px 0;
  border-radius: 12px;
  overflow: hidden;
  border: 5px solid #fff;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.leitura-ok {
  border: 5px solid #00ff66 !important;
  box-shadow: 0 0 22px #00ff66;
}

.leitura-erro {
  border: 5px solid #ff3333 !important;
  box-shadow: 0 0 22px #ff3333;
}

.item {
  background: #222;
  padding: 14px;
  margin: 10px 0;
  border-radius: 8px;
  text-align: left;
}

.item small {
  color: #ccc;
  line-height: 1.5;
}

.controle-qtd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 12px;
}

.controle-qtd button {
  width: 45px;
  height: 38px;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.controle-qtd span {
  font-size: 20px;
  font-weight: bold;
  color: #d6a354;
}

.voltar {
  display: block;
  color: #d6a354;
  margin-top: 25px;
  text-decoration: none;
}

#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-box {
  background: #fff;
  color: #111;
  padding: 25px;
  border-radius: 12px;
  width: 85%;
  max-width: 320px;
  text-align: center;
}
